
.nav {
    transition: all ease 0s;
    border-top: 1px solid grey;
    border-top-right-radius: 7px;
    overflow: auto;
}

.nav a {
    color: rgb(218, 203, 203);
    text-decoration: none; 
}

.item .active {
    color: goldenrod;
}

.item {
    padding: 5px;
}


.nav .friendsContent {
    border: 2px solid rgb(185, 165, 165);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(121, 124, 121);
}
